@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

body{
    font-family: 'Dancing Script', cursive;
    margin: 0;
    box-sizing: border-box;
background-image: url(./images/bg-img.jpg)
}
span{
    color: rgb(247, 95, 7);
}

.heading{
   padding-left: 19%;
    mix-blend-mode: color-burn;
    
}

.skol-para{
  font-size:larger;
  padding: 20px;
font-weight: 800;
}