@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fira+Sans:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;500;600;700;800;900&display=swap');

body{
font-family: 'Dancing Script', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
background-image: url(./images/bg-img.jpg)
}

.heading{
    mix-blend-mode: color-burn;
    align-items: center;
    justify-content: center;
}